APP_NAME=ORCAMarine API
DEMO_MODE=true
HTTP_TIMEOUT_SECONDS=8
NOMINATIM_URL=https://nominatim.openstreetmap.org/search
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
OPEN_METEO_MARINE_URL=https://marine-api.open-meteo.com/v1/marine
MPA_FILE=data/mpa.geojson
ALLOWED_ORIGINS=*
USER_AGENT=ORCAMarine-Hackathon/1.0
